html{
    font-size: 16px;
    min-width: 1280px;

}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    }

h1{
    font-size: 6rem;
    color:white;
    text-shadow: 5px 5px gray;
    margin:0;
    text-align: center;
    vertical-align: middle;
}

h2{
    font-size: 3rem;
    color:white;
    text-shadow: 5px 5px gray;
    margin:0;
    text-align: center  ;
    vertical-align: middle;
}

h1{
    padding-top: 256px;
}

a, a:active, a:visited{
    text-decoration: none;
    color:black
}

p{

}

header{
    min-width: 1280px;
    min-height: 128px;
    display: flex;
    justify-content: space-between;
    padding: 32px 96px;
    background-color: #f0e4a2;
    
}

nav{
    min-width: 512px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 150%;
}   

nav a:hover{
    background-color: lightgray;
}

main{
    background-color: white;
    
    min-width: 1280px;
    min-height: 754px;
    background-image: url(../img/wood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}



footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 192px;
    min-width: 1280px;
    background-color: #f0e4a2;
    padding: 32px 96px;
}

.left{
    border-right: black 1px dotted;
    padding-right: 128px;
    display:flex ;
    justify-content: center;
    flex-direction: column;
    min-width: 332px;
}

.right{
    display: flex;
    justify-content: space-evenly;
    padding-left: 128px;
    border-left: black 1px dotted;
}
