html{
    font-size: 16px;
    min-width: 1280px;

}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    }

h1{
    font-size: 3rem;
}

h2{
    font-size: 1.5rem;

}

a, a:active, a:visited{
    text-decoration: none;
    color:black
}

p{

}

header{
    min-width: 1280px;
    min-height: 128px;
    display: flex;
    justify-content: space-between;
    padding: 32px 96px;
    background-color: #f0e4a2;
}

nav{
    min-width: 512px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 150%;
}   

main{
    background-color: white;
    min-width: 1280px;
}

.odd, .even{
    max-width: 512px;
    min-width: 300px;
    word-wrap: break-word;
    background-image: url("../img/cloud.png");

    background-repeat: no-repeat;
}

.odd{
    padding: 32px 96px;
    margin: 32px 96px
}

.even{
    position:relative;
    margin-left: 728px;
    padding: 32px 96px;
    margin-top: 96px;
    margin-bottom: 96px;
}

.intro1, .intro2{
    background-size: 704px 270px;
}

.intro3{
        background-size: 704px 224px;
}

.intro4, .intro6{
        background-size: 704px 240px;
}

.intro5{
        background-size: 704px 290px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 192px;
    min-width: 1280px;
    background-color: #f0e4a2;
    padding: 32px 96px;
}

.left{
    border-right: black 1px dotted;
    padding-right: 128px;
    display:flex ;
    justify-content: center;
    flex-direction: column;
    min-width: 332px;
}

.right{
    display: flex;
    justify-content: space-evenly;
    padding-left: 128px;
    border-left: black 1px dotted;
}
