html{
    font-size: 16px;
    min-width: 1280px;
    margin: 32px 96px;
    background-color: #f0e4a2;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 1.5rem;
    font-style: italic;
    letter-spacing: 0.7rem;
}

a, a:active, a:visited{
    text-decoration: none;
    color:black
}

p{

}

header{
    min-width: 1280px;
    min-height: 128px;
    display: flex;
    justify-content: space-between;
      
}

nav{
    min-width: 512px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 150%;
}

.trailer{
    min-width: 1280px;
    min-height: 512px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-image: url("../img/club office.jpg");
    background-size: 100%;
}

main{
    background-color: white;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: "192px";
}

.left{
    border-right: black 1px dotted;
    padding-right: 128px;
    display:flex ;
    justify-content: center;
    flex-direction: column;
    min-width: "332px";
}

.right{
    display: flex;
    justify-content: space-evenly;
    padding-left: 128px;
    border-left: black 1px dotted;
}
