html{
    font-size: 16px;
    min-width: 1280px;  
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    }



a, a:active, a:visited{
    text-decoration: none;
    color:black
}

p{

}

header{
    min-width: 1280px;
    min-height: 128px;
    display: flex;
    justify-content: space-between;
    padding: 32px 96px;
    background-color: #f0e4a2;
}

nav{
    min-width: 512px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 150%;
}

.trailer{
    min-width: 1280px;
    min-height: 768px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../img/clubmem.jpg");
    background-size: 100%;
}

.trailer h1{
    font-size: 6rem;
    text-shadow: 5px 5px gray;
    color: white;
    letter-spacing: 2rem;
}

.trailer h2{
    font-size: 3rem;
    font-style: italic;
    text-shadow: 5px 5px gray;
    color: white;
}

main{
    background-color: white;
    min-width: 1280px;
}

.news{
    margin: 32px 96px;
    min-width: 1088px;
    max-height: 149px;
    display: flex;
    border: 2px black solid;
}

.news h2, .news p{
    padding-left: 32px;
}

.news h2{
    font-size: 1.5rem;
    color:black;
    text-shadow: none;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 192px;
    min-width: 1280px;
    background-color: #f0e4a2;
    padding: 32 px 96px;
}

.left{
    border-right: black 1px dotted;
    padding-right: 128px;
    margin-left: 96px;
    display:flex ;
    justify-content: center;
    flex-direction: column;
    min-width: 332px;
}

.right{
    display: flex;
    justify-content: space-evenly;
    padding-left: 128px;
    margin-right: 96px;
    border-left: black 1px dotted;
}
